@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

$body-bg: #e8e5e5;
$body-color: #291334;

$primary:   #44EBD3;
$secondary: #F9CBE5;
$success:   #00BA7B;
$info:      #00A4F2;
$warning:   #EEAF00;
$danger:    #FE1C55;
$light:     #E4E4E7;
$dark:      #262629;

$border-radius: 1rem;
$btn-border-radius: 1rem;
$input-border-radius: 2rem;
$card-border-width: 2px;
$card-bg: #f9f7f7;


$theme-colors: (
  "primary":   $primary,
  "secondary": $secondary,
  "success":   $success,
  "info":      $info,
  "warning":   $warning,
  "danger":    $danger,
  "light":     $light,
  "dark":      $dark,
);


$font-family-base: 'Poppins', sans-serif;


